.container {
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
  }
  
  .inputField {
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #ffcc00;
    background-color: #222;
    color: #ffcc00;
    margin-top: 10px;
  }
  
  .counterBox {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .button {
    margin: 10px;
    padding: 15px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #222;
  }
  